.a6y-screen-share {
  --a6y-gradient-to: #22d3ee;
  --a6y-gradient-from: #2dd4bf;
  --a6y-gradient-stops: var(--a6y-gradient-from),
    var(--a6y-gradient-to, rgba(168, 85, 247, 0));
}

.a6y-screen-share {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  background-image: linear-gradient(to right, var(--a6y-gradient-stops));
  border-radius: 4px;
  margin: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a6y-screen-share-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a6y-screen-shares .ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav,
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav {
  margin: 0px !important;
}

.a6y-screen-share canvas,
.a6y-screen-share canvas:focus .a6y-screen-share canvas:active {
  outline: none;
}

.a6y-screen-share.playing {
  background-image: none;
}

.a6y-screen-share .a6y-fastboard-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a6y-screen-share-controls {
  position: absolute;
  top: 8px;
  right: calc(50% - 28px);
  width: 56px;
  height: 24px;
  border-radius: 4px;
  padding: 0 8px;
  z-index: 100;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a6y-screen-share-controls.host-controls {
  width: 140px;
  right: calc(50% - 70px);
}

.a6y-screen-share-controls .a6y-markable,
.a6y-screen-share-controls .a6y-fullscreen,
.a6y-screen-share-controls .a6y-screen-visibility {
  display: flex;
  padding: 0 8px 0 0;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.a6y-screen-share-controls .a6y-markable:last-child,
.a6y-screen-share-controls .a6y-fullscreen:last-child,
.a6y-screen-share-controls .a6y-screen-visibility:last-child {
  padding: 0;
}

.a6y-screen-share-controls .a6y-screen-visibility {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a6y-screen-share-controls .a6y-markable.enabled:after {
  content: '\\';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
}

.a6y-focus-mode .a6y-screen-share {
  display: none;
}
